
@{
    ViewBag.Title = "EventNotFound";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="header_bar"></div>

<h3>Event Not Found</h3>
<div>
    We are very sorry, but the event you are looking for could not be found.  Perhaps you have an old link; we don't keep them around for very long once the event has passed.
</div>

