@model frecevents.web.Models.ModelBase

@{
    ViewBag.Title = "Rider Not Found";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="header-parall" data-stellar-background-ratio="0.8">
</div>
<div style="display: block; height: 60px;"></div>

<h3>Event Not Found</h3>
<div>
    We are very sorry, but the rider you are looking for could not be found.  @Html.ActionLink("Click Here", "index") to see a list of riders in the database.
</div>