@model frecevents.web.Models.ModelBase

@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="header-parall" data-stellar-background-ratio="0.8">
</div>
<div style="display: block; height: 60px;"></div>

<div class="bg-secondary2 bg-pl">
    <div class="container cont-1">
        <div class="row">
            <div class="grid_12">
                <h3>How to sign up for an event:</h3>
            </div>
            <div class="grid_12">
                <div class="grid_4">The first time you visit an event page, in the signup area, you will only see a link to log in to the site.  Click the link to log in.</div>
                <div class="grid_7"><img src="~/images/help_eventlogin.png" /></div>
            </div>
            <hr/>
            <div class="grid_12">
                <div class="grid_4">Enter the password for the site.  You can get the password from Sarah, Karen, Todd or Belinda.</div>
                <div class="grid_7"><img src="~/images/help_login.png" /></div>
            </div>
            <hr/>
            <div class="grid_12">
                <div class="grid_4">Once you have logged in, you will return to the event page, and instead of a link to log in, you will see a drop-down box to select your rider.  
                If you don't find your rider's name in the list, click the &quot;Add a Rider&quot; link.  You'll be taken to a page where you can enter a name and email 
                address, then will be returned back to the event page again.</div>
                <div class="grid_7"><img src="~/images/help_select.png" /></div>
            </div>
            <hr />
            <div class="grid_12">
                <div class="grid_4 markdown">Once you have selcted a rider, you can sign up for the event, providing the following details:<br/>
                <ul>
                    <li>Use the first drop-down to indicate if you have extra room in a trailer, or if you need room in someone else's</li>
                    <li>Inidicate how many horses you have room for or need room for using the next drop-down</li>
                    <li>If the previous 2 drop-downs aren't showing, it means the event does not require trailering</li>
                    <li>Next, indicate if you need to share a room in a hotel, or if you are willing to share space in a room you have</li>
                    <li>Indicate how many people you need space for, or how much extra space you have</li>
                    <li>Again, if the previous 2 drop-downs aren't visible, it means the event isn't going to require an overnight stay</li>
                    <li>Check the box if you are willing to bring a food item for everyone.  We will contact you about the specific item</li>
                    <li>If you want to leave a short note for the event planner, enter it in the box under &quot;Comments&quot;</li>
                    <li>Finally, click &quot;I'm Going&quot; to finish signing up</li>
                    </ul></div>
                <div class="grid_7"><img src="~/images/help_signup.png" /></div>
            </div>
            <hr />
            <div class="grid_12">
                <div class="grid_4">At any time, you can return to the event page to change your options, adding a comment, changing the number of trailer spaces,
                changing your food volunteer status, etc.  Click &quot;Update&quot; to save your changes.  Click &quot;I'm not going&quot; if you have changed your mind and will not be attending the event.</div>
                <div class="grid_7"><img src="~/images/help_update.png" /></div>
            </div>
            <hr />
            <div class="grid_12">
                If you still have problems signing up for an event or have any other questions about the site, send an email to <a href="mailto:info@freedomrun.events">info@freedomrun.events</a>, and we will help you.
            </div>
        </div>
    </div>
</div>
