@model frecevents.web.Models.Home

@{
    ViewBag.Title = "Events - Freedom Run Equestrian Center";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="camera_container">
    <div id="camera" class="camera_wrap">
        <div data-src="/images/slider0.jpg"></div>
        <div data-src="/images/slider1.jpg"></div>
        <div data-src="/images/slider2.jpg"></div>
        <div data-src="/images/slider3.jpg"></div>
    </div>
</div>


