@model frecevents.web.Models.Home

@{
    ViewBag.Title = "Events - Freedom Run Equestrian Center";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="camera_container">
    <div id="camera" class="camera_wrap">
        <div data-src="/images/slider0.jpg"></div>
        <div data-src="/images/slider1.jpg"></div>
        <div data-src="/images/slider2.jpg"></div>
        <div data-src="/images/slider3.jpg"></div>
    </div>
</div>
<div class="bg-secondary2 bg-pl">
    <div class="container cont-1">
        <div class="row">
            <div class="grid_4 bg-secondary1">
                <div class="grid_1 box-cont1 mrg0 center">
                    <img src="~/images/riders_icon.png" />
                </div>
                <div class="grid_3">
                    <h4>Our next event:</h4>
                    @{
                        var nextevent = (Model.UpcomingEvents != null && Model.UpcomingEvents.Count > 0) ? Model.UpcomingEvents[0] : null;
                    }
                    @if(nextevent!=null)
                    {
                        <div>
                            @nextevent.Title <br />
                            @nextevent.FormatDateRange(frecevents.web.Models.EventModel.DateFormat.List) <br />
                            @Html.ActionLink("Click here for more information", "", nextevent.ID)
                        </div>
                    }
                </div>
            </div>
            <div class="grid_4 bg-secondary1">
                <div class="grid_1 box-cont1 mrg0 center">
                    <img src="~/images/info_icon.png" />
                </div>
                <div class="grid_3">
                    <h4>Helpful event information:</h4>
                </div>
            </div>
            <div class="grid_4 bg-secondary1">
                <div class="grid_1 box-cont1 mrg0 center">
                    <img src="~/images/usea_logo.png" />
                </div>
                <div class="grid_3">
                    <h4>USEA Links:</h4>
                    <a href="http://www.useventing.com" target="_blank">Home page</a> <br />
                    <a href="https://services.useventing.com/Services/login.aspx?ReturnUrl=%2fServices%2fRenewMembership.aspx" target="_blank">Membership signup</a> <br />
                    <a href="http://www.useventing.com/competitions/dressage" target="_blank">Dressage Tests</a>
                </div>
            </div>
        </div>
    </div>
</div>


